body{
    font-family: 'Poppins', sans-serif;
    margin: 0;    
}
h1{
    font-size: 50px;
}
.asd{
    color: yellowgreen;
}
section{
    display: flex;
    margin-bottom: 65px;
}
.dsa{
    width: 50%;
    padding-left: 8%;
}
.dsa img{
    width: 85%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(forestgreen,yellowgreen);
    color: black;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px;
}
.top-qwe{
    background-image:url(images/developer.png);
    background-repeat: no-repeat;    
}
.poi{
    color: yellowgreen;
}
.zxc{
    width: 50%;
    padding-left: 5%;
}
.zxc img{
    width: 100%;
}
.top-ewq{
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
