body{
    font-family: 'Poppins', sans-serif;
    margin: 0;    
}
h1{
    font-size: 50px;
}
.asd{
    color: yellowgreen;
}
.sadith{
    display: flex;
    margin-bottom: 65px;
}
.dsa{
    width: 50%;
    padding-left: 8%;
}
.dsa img{
    width: 85%;
}
.top-qwe{
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;   
}
.poi{
    color: yellowgreen;
}
.zxc{
    width: 50%;
    padding-left: 5%;
}
.zxc img{
    width: 100%;
}
.top-ewq{
    background-image: url(images/header_bg\ -\ Copy.png);
    background-repeat: no-repeat;
    background-position: right 5px;
}
.mnb{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 12px;
    padding-right: 4px;
    border-radius: 2.5px;
    box-shadow: 10px 10px 30px black;
    border-left: 7px solid rgb(124, 248, 124);
}
#frist-mnb{
    border-left: 7px solid forestgreen;
}
#second-mnb{
    border-left: 7px solid yellowgreen;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(forestgreen,yellowgreen);
    color: black;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 10px;
}
.iop{
    color: yellowgreen;
    text-shadow: 5px 0px 7px gray;
}
.web-font{
    font-size: 40px;
}
.expereinc{
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
    background-position: right 18px;
}
footer p{
    text-align: center;
}